body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.whole-website {
    display: grid;
    grid-template: 1fr / 2fr 5fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #31baec;
    color: white;
}

.main-website {
    display: grid;
    grid-template: 2fr 4fr 10fr / 1fr;
    outline: 2px solid chartreuse;
    background-color: #eee;
}

.list-top,
.list-bottom {
    font-size: 1.2rem;
}

.dashboard::before {
    content: url("/icons/dashboard.svg") " ";
    vertical-align: middle;   
    margin-left: 1rem;
}

.home::before {
    content: url("/icons/home.svg") " ";
    vertical-align: middle;   
}

.profile::before {
    content: url("/icons/profile.svg") " ";
    vertical-align: middle;   
}

.messages::before {
    content: url("/icons/messages.svg") " ";
    vertical-align: middle;   
}

.history::before {
    content: url("/icons/history.svg") " ";
    vertical-align: middle;   
}

.tasks::before {
    content: url("/icons/tasks.svg") " ";
    vertical-align: middle;   
}

.communities::before {
    content: url("/icons/communities.svg") " ";
    vertical-align: middle;   
}

.settings::before {
    content: url("/icons/settings.svg") " ";
    vertical-align: middle;   
}

.support::before {
    content: url("/icons/support.svg") " ";
    vertical-align: middle;   
}

.privacy::before {
    content: url("/icons/privacy.svg") " ";
    vertical-align: middle;   
}