body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.whole-website {
    display: grid;
    grid-template: 1fr / 1fr 5fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #31baec;
    color: white;
}

.main-website {
    display: grid;
    grid-template: 2fr 4fr 22.8fr / 1fr;
    outline: 2px solid chartreuse;
    background-color: #eee;
}

.list-top,
.list-bottom {
    font-size: 1.2rem;
}

.dashboard::before {
    content: url("/icons/dashboard.svg") " ";
    vertical-align: middle;   
    margin-left: 1rem;
}

.home::before {
    content: url("/icons/home.svg") " ";
    vertical-align: middle;   
}

.profile::before {
    content: url("/icons/profile.svg") " ";
    vertical-align: middle;   
}

.messages::before {
    content: url("/icons/messages.svg") " ";
    vertical-align: middle;   
}

.history::before {
    content: url("/icons/history.svg") " ";
    vertical-align: middle;   
}

.tasks::before {
    content: url("/icons/tasks.svg") " ";
    vertical-align: middle;   
}

.communities::before {
    content: url("/icons/communities.svg") " ";
    vertical-align: middle;   
}

.settings::before {
    content: url("/icons/settings.svg") " ";
    vertical-align: middle;   
}

.support::before {
    content: url("/icons/support.svg") " ";
    vertical-align: middle;   
}

.privacy::before {
    content: url("/icons/privacy.svg") " ";
    vertical-align: middle;   
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.header-right {
    display: flex;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 1rem;
}

.user-name {
    padding-left: .5rem;
}

.header-right img:first-of-type {
    height: 1.5rem;
}

.header-right > img + img {
    height: 2.5rem;
    margin-top: -.5rem;
}

.header-left {
    column-gap: 1rem;
    padding-left: 1rem;
    display: grid;
    grid-template: 1rem / repeat(2, 1rem);
}

.search-img {
    vertical-align: middle;
    margin-right: 1rem;
}

.search {
    background-color: rgba(115, 124, 191, 0.235);
    border: none;
    border-radius: 15px;
    width: clamp(16rem, 20rem ,25rem);
    height: 1.5rem;
}

.notification-icon {
    padding-right: .1rem;
}

.introduction {
    display: grid;
    grid-template: 1rem / repeat(2, 1fr);
}

.introduction-left {
    display: flex;
    gap: .5rem;
    padding-left: 1rem;
}

.introduction-right {
    padding-top: 1.7rem;
    display: grid;
    grid-template: 2rem / repeat(3, 6rem);
    column-gap: 1.7rem;
    justify-self: end;
    padding-right: 1rem;
}

.introduction-right button {
    font-weight: 700;
    background-color: #31baec;
    border: none;
    color: white;
    border-radius: 30%;
}

.placeholder-img {
    height: 5rem;
}

.main-profile {
    font-weight: 700;
    padding-top: 3rem;
    font-size: 1.2rem;
    position: relative;
    flex-shrink: 0;
}

.main-profile::before {
    content: "Hi there,";
    font-size: .9rem;
    position: absolute;
    top: 1.7rem;
}