body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.whole-website {
    display: grid;
    grid-template: 1fr / 2fr 5fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightseagreen;
}

.main-website {
    display: grid;
    grid-template: 2fr 4fr 10fr / 1fr;
    outline: 2px solid chartreuse;
    background-color: #eee;
}